<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="ScreenshotPath" value="\ReportGeneration\TestReports\" />
    <add key="LoggerFile" value="\ReportGeneration\TestReports\" />
    <add key="ReportPath" value="\ReportGeneration\TestReports\" />
    <add key="ObjectRepofile" value="\ObjectRepository\OR.xml" />
    <add key="CommonTestData" value="\TestData\Common.xml" />
  </appSettings>

  <connectionStrings>
    <add name="eInsight" connectionString="Data Source=DHB-ARDB003.CENTRALSERVICES.LOCAL;Initial Catalog=eContact_Cendyn_QA;Persist Security Info=True;User ID=eContactSupportReadOnly;Password=B3H2Sfol3" providerName="System.Data.SqlClient" />
    <add name="AppDB" connectionString="Data Source=dhb-crmdb002.centralservices.local;Initial Catalog=Cendyn_QA_Automation;Persist Security Info=True;User ID=offshoreQA;Password=R5szPJwF6!pyx" providerName="System.Data.SqlClient" />
    <add name="ProdAppDB" connectionString="Data Source=PHB-CRMDB006.centralservices.local;Initial Catalog=eContact_Cendyn;Persist Security Info=True;User ID=eContactSupportReadOnly;Password=B3H2Sfol3" providerName="System.Data.SqlClient" />
    <add name="POCAppDB" connectionString="Data Source=vmpocdb-crm001.cdcservices.net;Initial Catalog=eContact_Cendyn_QA;Persist Security Info=True;User ID=offshoreQA;Password=R5szPJwF6!pyx" providerName="System.Data.SqlClient" />
    <add name="EU2ProdAppDB" connectionString="Data Source=vmpdb-eu1-crm00;Initial Catalog=eContact_Cendyn_EU;Persist Security Info=True;User ID=eContactSupportReadOnly;Password=B3H2Sfol3" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" /></startup></configuration>
