################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AutomationFramework/v16
#/BaseUtility/bin/Debug
/BaseUtility/obj
/Common/bin/Debug
/Common/obj
/InfoMessageLogger/bin/Debug
/InfoMessageLogger/obj
/ProductLibrary/eLoyaltyV3/bin/Debug
/ProductLibrary/eLoyaltyV3/obj
/ProductProjectTemplate/CendynProjectTemplate/bin/Debug
/ProductProjectTemplate/CendynProjectTemplate/obj
/TestData/bin/Debug
/TestData/obj
/ProductLibrary/eLoyaltyV3/.vs/eLoyaltyV3/v16
/ProductLibrary/eLoyaltyV3/ReportGeneration/TestReports/HotelOrigami
/ProductLibrary/eInsight/bin
/ProductLibrary/eInsight/obj
/ProductLibrary/eInsight/.vs/eInsight/v16/.suo
/ProductLibrary/eInsight/ReportGeneration
*.testlog
*.pdb
*.tmp
*.cache
/ProductLibrary/eInsight/.vs/eInsight/v16/TestStore/0
/ProductLibrary/eInsight/debug.log
/ProductLibrary/eNgage/obj
/ProductLibrary/eNgage/bin/Debug
/ProductLibrary/eNgage/.vs/eNgage/v16
/ProductLibrary/eNgage/ReportGeneration/TestReports/eInsight
.vs/slnx.sqlite
/ProductLibrary/eProposal/bin/Debug
/ProductLibrary/eProposal/obj/Debug
/ProductLibrary/eProposal/obj/project.assets.json
/ProductLibrary/eProposal/obj/eProposal.csproj.nuget.g.targets
/ProductLibrary/eProposal/obj/eProposal.csproj.nuget.g.props
/ProductLibrary/eProposal/obj/eProposal.csproj.nuget.dgspec.json
/ProductLibrary/RevIntel/RevIntel/obj
/ProductLibrary/eSales/obj
/ProductLibrary/eProposal/obj/Release
/ProductLibrary/eMenus/obj
/ProductLibrary/AMR_Agent/obj
/.vs
/ProductLibrary/CHC/.vs/CHC/v16
/ProductLibrary/CHC/bin/Debug
/ProductLibrary/CHC/obj
/ProductLibrary/CHC/ReportGeneration/TestReports/CHCAuto/TP_339264
/ProductLibrary/MarketingAutomation/.vs/MarketingAutomation/v16
/ProductLibrary/MarketingAutomation/obj/Debug
/ComponentUpgrade/packages
/ComponentUpgrade/.vs
/ComponentUpgrade/CTOS/bin/Debug/netstandard2.0
/ComponentUpgrade/CTOS/obj
/ComponentUpgrade/CTOSTests/bin/Debug
/ComponentUpgrade/CTOSTests/obj/Debug
/ProductLibrary/CHC_Unified_Profile/.vs/CHC_Unified_Profile/v16
/ProductLibrary/CHC_Unified_Profile/bin/Debug
/ProductLibrary/CHC_Unified_Profile/obj/Debug
