<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="HotelOrigami" connectionString="Data Source=QHB-CRMDB012.CENTRALSERVICES.LOCAL;Initial Catalog=eInsightCRM_Origami_QA;Persist Security Info=True;User ID=eContactSupportReadOnly;Password=B3H2Sfol3" providerName="System.Data.SqlClient" />
    <add name="devAppConn" connectionString="Data Source=dhb-crmdb002.centralservices.local;Initial Catalog=Cendyn_QA_Automation;Persist Security Info=True;User ID=offshoreQA;Password=R5szPJwF6!pyx" providerName="System.Data.SqlClient" />
    <add name="HotelOrigami_Production" connectionString="Data Source=PHB-CRMDB045.CENTRALSERVICES.LOCAL;Initial Catalog=eInsightCRM_HotelOrigami;Persist Security Info=True;User ID=eContactSupportReadOnly;Password=B3H2Sfol3" providerName="System.Data.SqlClient" />
    <add name="HotelOrigami_Service" connectionString="Data Source=QHB-CRMDB012.CENTRALSERVICES.LOCAL;Initial Catalog=eInsightCRM_Origami4_QA;Persist Security Info=True;User ID=eContactSupportReadOnly;Password=B3H2Sfol3" providerName="System.Data.SqlClient" />
    <add name="HotelOrigami_DB_Backup" connectionString="Data Source=QHB-CRMDB012.CENTRALSERVICES.LOCAL;Initial Catalog=Master;Persist Security Info=True;User ID=eContactSupportReadOnly;Password=B3H2Sfol3" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ScreenshotPath" value="\ReportGeneration\TestReports\" />
    <add key="LoggerFile" value="\ReportGeneration\TestReports\" />
    <add key="ReportPath" value="\ReportGeneration\TestReports\" />
    <add key="ObjectRepofile" value="\ObjectRepository\OR.xml" />
    <add key="BaseURL" value="https://qa.gocendyn.com/login"/>
    <add key="SetupExec" value="1"/> <!--1 means local & 0 means Lambdatest-->
    <add key="Browser" value="Chrome"/>
    <add key="Version" value="105.5"/>
    <add key="OS" value="Windows 10"/>
    <add key="Resolution" value="1366x768"/>
    <add key="LTUserName" value="larunshankar"/>
    <add key="LTAccessKey" value="QMvb6gUnaHKL1zEGtQTNsGa61TvS0zi0w2pKzsQcBSsbgIGWa3"/>
    <add key="CatchUsername" value="catchall@cendyn17.com"/>
    <add key="CatchPassword" value="AutoCendyn12345$"/>
    <add key="CommonPassword" value="Cendyn1234$"/>
  </appSettings>
  <!--<runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">      
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>-->
  
</configuration>