<?xml version="1.0" encoding="utf-8"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="MarketingAutoQA" connectionString="Data Source=qeus2db001.database.windows.net;Initial Catalog=CHC_Origami_QA;UID=ReaderQA;PWD=gaJ~:9+&lt;p\9k?xX3%B7S;" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <add name="MarketingAutoQA_MDM" connectionString="Data Source=qeus2db001.database.windows.net;Initial Catalog=MDM_QA;UID=ReaderQA;PWD=gaJ~:9+&lt;p\9k?xX3%B7S;" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <add name="MarketingAutoDEV" connectionString="Data Source=dhb-crmdb002.centralservices.local;Initial Catalog=Cendyn_QA_Automation;Persist Security Info=True;User ID=offshoreQA;Password=R5szPJwF6!pyx" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="ScreenshotPath" value="\ReportGeneration\TestReports\" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="LoggerFile" value="\ReportGeneration\TestReports\" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ReportPath" value="\ReportGeneration\TestReports\" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ObjectRepofile" value="\ObjectRepository\OR.xml"  xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="BaseURL" value="https://qa.gocendyn.com/login" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="SetupExec" value="0" xdt:Transform="Replace" xdt:Locator="Match(key)"/> <!--1 means local & 0 means Lambdatest-->
    <add key="Browser" value="Chrome" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="Version" value="106"   xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="OS" value="Windows 10"   xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="Resolution" value="1366x768" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="LTUserName" value="larunshankar" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="LTAccessKey" value="QMvb6gUnaHKL1zEGtQTNsGa61TvS0zi0w2pKzsQcBSsbgIGWa3" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>