<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
	  <!--<add name="CHC_UP_AutoQA" connectionString="Data Source=qeus2db001.database.windows.net;Initial Catalog=CHC_Origami_QA;Authentication=Active Directory Password;UID=sborade@cendyn.com;PWD=CTeaM#0601;" /> 
	    <add name="CHCAutoDemo" connectionString="Data Source=demoeus2db001.database.windows.net;Initial Catalog=MDM_Demo;Authentication=Active Directory Password;UID=hreddy@cendyn.com;PWD=Cendyn@123;" />
      <add name="CHCAutoDEV" connectionString="Data Source=dhb-crmdb002.centralservices.local;Initial Catalog=Cendyn_QA_Automation;Persist Security Info=True;User ID=offshoreQA;Password=R5szPJwF6!pyx" providerName="System.Data.SqlClient" />-->
    <add name="CHC_UP_AutoQA" connectionString="Data Source=qa01eus2db001.database.windows.net;Initial Catalog=CHC_Origami_QA01;UID=ReaderQA01;PWD=f(L#_XQ6/[t-cRCwBwUw;" />
    <add name="CHCAutoDemo" connectionString="Data Source=demoeus2db001.database.windows.net;Initial Catalog=MDM_Demo;UID=ReaderDemo;PWD=!v#Ss8!SJp'LYhM54;Yy;" />
    <add name="CHCAutoDEV" connectionString="Data Source=dev01eus2db001.database.windows.net;Initial Catalog=CHC_QA_Dev01;UID=Readerdev01;PWD=[hR{~9erqD`53Y;c(eEd;" />
  </connectionStrings>
  <appSettings>
    <add key="ScreenshotPath" value="\ReportGeneration\TestReports\" />
    <add key="LoggerFile" value="\ReportGeneration\TestReports\" />
    <add key="ReportPath" value="\ReportGeneration\TestReports\" />
    <add key="ObjectRepofile" value="\ObjectRepository\OR.xml" />
    <add key="BaseURL" value="https://qa01.gocendyn.com/login"/>
    <add key="SetupExec" value="0"/>    <!--1 means local & 0 means Lambdatest-->
    <add key="Browser" value="Chrome"/>
    <add key="Version" value="105.5"/>
    <add key="OS" value="Windows 10"/>
    <add key="Resolution" value="1366x768"/>
    <add key="LTUserName" value="larunshankar"/>
    <add key="LTAccessKey" value="QMvb6gUnaHKL1zEGtQTNsGa61TvS0zi0w2pKzsQcBSsbgIGWa3"/>
  </appSettings>
  <!--<runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">      
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>-->

</configuration>